

.newsHeader{grid-area: header;}


.linkBar{grid-area: linkBar;}
.information{grid-area: info;}

.gridContainer{

    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: grid;

    grid-template-areas: 
    'linkBar header header header header'
    'linkBar info info info info '
    'linkBar info info info info'
    'linkBar info info info info';
    
    grid-gap: 10px;

}

.newsHeader{
    border: 1px solid blue;
}

.linkBar{
    border: 1px solid blue;
    color: blue;
}

.information{
    border: 1px solid green;
}

li{
    color: black;
}
