

.newsHeader{grid-area: header;}


.picture{grid-area: picture;}
.information{grid-area: info;}
.sidebar{grid-area: navigation;}

.gridContainer{

    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: grid;


    grid-gap: 1rem;

    grid-template-areas: 
    'header header header header  '
    'navigation picture picture picture   '
    'navigation info info info'
    'navigation info info info ';
    
}

.newsHeader{
    border: 1px solid blue;
    display: block;
    font-family: DINNextW01-CondensedBla,Arial,sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #0163A5;
    line-height: 2rem;
    font-size: 2rem;
}

.picture img{
    display: block;
    max-width: 100%;
    height: auto;
}

.information{
    border: 1px solid green;
    display: block;
    font-family: "DIN Next W01 Regular",Arial,sans-serif;
    color: #010101;
    text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.5rem;

}

.sidebar{
    height: 100%;
    width: 100px;
    position: relative;
    z-index: 1;
    top: 5;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
}

