

.newsHeader{
    grid-area: header;

}


.linkBar{
    grid-area: linkBar;

}
.information{grid-area: info;}

.gridContainer{

    margin-right: 3%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;

    grid-template-areas: 
    'header header header header header'
    'linkbar info info info info '
    'linkbar info info info info'
    'linkbar info info info info';
    
    grid-gap: 50px;
    background-color: black;

}



.linkBar{
    border: 1px solid blue;
    color: blue;
    background-color: red;
}

.information{
    border: 1px solid green;
}

li{
    color: black;
}
